%header.dev-header#dev_display
  %h1
    = link_to "Bikewise", root_url
    API documentation

.dev-sidebyside
  .desc-side
    %h2
      Searching for incidents
    %p
      You can check out how the API works by using the form to search and viewing the parameters we use.
    = render "/layouts/incident_search"
  .data-side
    / %p
    /   Because #{link_to "CORS", "https://en.wikipedia.org/wiki/Cross-origin_resource_sharing"} is turned on, you can run this javascript from any browser and it will work correctly. You don't need to be concerned about Cross-Origin issues.
    %h2
      API parameters and response
    %h4
      Base url
    %pre#base_url
      = api_v1_incidents_url
    %h4
      Parameters
    %pre#url_parameters

    %h4
      Encoded url
    %pre#url_display
    
    %h4
      Response
    %pre#body_display
.readme
  .markdown-body
    %h2
      This is the readme
    %p
      it's in the process of being converted over to better documentation
    %hr
    
    = render "readme"