.home-intro
  .container
    .row
      .col-md-8
        %h1
          Help make biking safer
        %p
          Bikewise is a place to learn about and report bike crashes, hazards, and thefts.
        %p
          You can help by reporting issues you see.
        %p
          By sharing our experiences with each other and with researchers and relevant agencies, we can make bicycling safer and more fun.
        %p.padded
          %strong
            Check out our #{link_to "map of theft data", "http://map.bikewise.org"}.
          %small
            (#{link_to "source code", "https://github.com/sethherr/bikewise_maps"})

.map-container
  .container
    .row
      .col-lg-6.map
        <script src="https://embed.github.com/view/geojson/bikeindex/bikewise/master/geojson_data/recent%20incidents.geojson"></script>
        %p.more-maps
          Incidents reported this month. View a #{link_to "map of all incidents here", "https://map.bikewise.org/#5/40.814/-94.702"}.
      .col-lg-6.maps-text
        %h2
          Submit a report!
        %p
          Have you seen or been involved in a crash? Had your bike stolen? Encountered a hazard or a bike infrastructure issue?
        %p
          Tell us about it!

    .submit-incident#bw_incident_submit
      = render partial: "/layouts/incident_submit"

.search-container
  .container
    .not-in-search-container

      %h2
        Viewing reports
      %p
        Bikewise provides a way to find biking related incidents like Crashes, Hazards, Infrastructure issues, and Thefts
    = render "/layouts/incident_search"

.developer-info
  .container
    .dev-icon
      = image_tag "/computer.svg"
    .dev-text
      %h2
        Designed for programmers and data scientists
      %h3
        View the #{link_to "API documentation", "/documentation"} or the #{link_to "smap of all incidents hereource code", "https://github.com/bikeindex/bikewise"}.
      %p
        Bikewise is built to be useful tool for developers and data scientists. Take advantage of it! This isn't a finished polished tool, but it's useful already.
