.incident-search.panel.panel-default
  .panel-body
    %form#home_search{ role: 'form', data: {target: "#{BASE_URL}/api/v1/incidents"}}
      / - if @show_dev
      / .row.form-inline.dev-fields-search.bottomed
      /   .form-group
      /     %label{ for: 'text_search'}
      /       Updated since
      /     = text_field_tag "updated_since", '', class: 'form-control', placeholder: 'mm/dd/yy'
      /   .form-group
      /     %label{ for: 'occurred_before'}
      /       Occurred before
      /     = datetime_field_tag "occurred_before", '', class: 'form-control', placeholder: 'mm/dd/yy'

      .row
        .col-md-8
          .form-group
            %label.sr-only{ for: 'query'}
              Search for incidents
            = text_field_tag "query", '', class: 'form-control', placeholder: 'Search incident descriptions'

          .form-group.incident-type-checks
            - IncidentType.all.each do |incident_type|
              %label.checkbox-inline
                = check_box_tag 'incident_types[]', incident_type.slug
                = incident_type.name
        .col-md-4
          .form-group
            .form-group
              %label.sr-only{ for: 'location'}
                Occurring near
              = text_field_tag "location", '', class: 'form-control', placeholder: 'Occurring near'
          .form-group
            = submit_tag "Find incidents", class: 'btn btn-primary'
      - if @show_dev
        .row.form-inline.dev-fields-search#page_data
          .form-group.narrow-field
            %label{ for: 'per_page' }
              Per page
            = number_field_tag "per_page", '', class: 'form-control', placeholder: 'Number per page', value: 4

          .form-group.narrow-field
            %label{ for: 'page' }
              Page number
            = number_field_tag "page", '', class: 'form-control', placeholder: 'Page number', value: 1


  #incidents_list.incident-list.panel-footer
