!!!
%html
  %head
    %title Bikewise
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application"
    = csrf_meta_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/fav.ico" />

  %body{class: @bodyclass}
    / %header
    .navbar
      .container
        .navbar-text.navbar-right
          - if current_user.present?
            %a
              = current_user.display_id
            = link_to "log out", destroy_user_session_path, method: :delete, class: 'signout-link'
          - else
            = link_to "Sign in", user_omniauth_authorize_path(:bike_index)

    = yield
    %footer.global-footer
      .container
        %p
          A #{link_to "Bike Index", "https://bikeindex.org"} project. <a href="mailto:bikewise@bikeindex.org">Contact us</a>
          for more information.
        %p
          Bikewise was started by #{link_to "Cascade Bicycle Club", "http://www.cascade.org/"} and Phil Mitchell. It is now maintained by Bike Index.
          